
.DS_Store
Thumbs.db
*.komodoproject
.komodotools

download/www/*
!download/www/FOOTER.html
!download/www/HEADER.html
!download/www/robots.txt

scripts/scripts.config.sh

temp/build_dir/*
!temp/build_dir/.dummy
temp/portail/
!temp/portail/.dummy
temp/portail-cli/
!temp/portail-cli/.dummy
temp/portail-scripts/
!temp/portail-scripts/.dummy

www/data/*
!www/data/.htaccess
!www/data/security.png

www/reference/1*
www/reference/trunk
www/cache/images/
www/temp/*

lib/dokuwiki/conf/users.auth.php
lib/dokuwiki/conf/plugins.local.php
portail/var/config/dbprofils.ini.php
portail/var/config/dbprofils_forum.ini.php
portail/var/config/defaultconfig.ini.php
portail/var/config/installer.ini.php
portail/var/log/*
!portail/var/log/.dummy
portail/var/books/manual
portail/var/books/cache

planet/fr/temp/*
!planet/fr/temp/.dummy
planet/en/temp/*
!planet/en/temp/.dummy

